.list {
    &__item {
        display: grid;
    }
}
.list-item {
    &--odd {
        grid: none;
        @media (min-width: 600px) {
            grid: 400px / 40% 60%;

            .list-item__el--image {
                order: 12;
            }
        }
    }
    &--even {
        grid: none;
        @media (min-width: 600px) {
            grid: 400px / 60% 40%;
        }
    }
    &__el {
        padding: 20px;
        display: grid;
        align-items: center;
        outline: 1px solid;

        &--image {
            width: calc(100% - 40px);
            height: 360px;
            @media (max-width: 599px) {
                width: 100%;
            }
        }
        &--text {
            width: calc(100% - 40px);;
            @media (max-width: 599px) {
                width: 100%;
            }
        }
        img {
            margin: auto;
            max-width: 100%;
            max-height: 360px;
        }
        p {
            text-align: center;
        }
    }
}