@mixin flexMixin($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

 
.container--high {
    margin: 0;
    height: 300vh;
}

.header {
    @include flexMixin(space-between);
    border: 1px solid;
    height: 50px;
    position: sticky;
    top: 0;
    transition: heigth .8s linear;
    background: #fff;
    
    &__logo {
        padding: 10px 30px;
        max-width: 160px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__navbar {
        align-self: stretch;
    }

    &--scroll {
        height: 30px;
        background: #000;
        transition: heigth .8s linear;

        & a {
            color: #fff!important;
        }

        .header__logo {
            padding: 0 30px;

            img {
                filter: invert(1);
                max-width: 80%;
            }
        }

        .nav-dropdown__subitem {
            top: 26px!important;
            background: #000;
        }
    }
}

.navbar {
    overflow: hidden;
    @include flexMixin(space-between);

    &__item {
        padding: 0 15px;
        align-self: stretch;
        border-left: 1px solid #000;

        a {
            @include flexMixin(space-between);
            height: 100%;
        }
    }
}

.nav-dropdown {
    overflow: hidden;

    &__subitem {
        position: absolute;
        top: 46px;
        right: 0;
    }
    &:hover .nav-dropdown__subitem {
        display: block;
    }
    
    &__subitem {
        padding: 10px 15px;
        display: none;
        position: absolute;
        z-index: 1;
        max-width: 200px;
        border: 1px solid;
        background: #fff;
    
        a {
            display: block;
            text-align: center;
            height: 100%;
        }
    }
}
