.header-task-7 {
    border: 1px solid;
    
    a {
        padding: 10px 20px;
        display: inline-block;
        border: none;
        outline: none;
        text-decoration: none;
        color: #000;
        font-weight: bold;

        &:hover {
            color: rgb(61, 165, 47);
        }
    }
}