body.body-footer {
    margin: 0;
    position: relative;
    min-height: 150vh;
}
.footer {
    padding: 8px 0;
    position: sticky;
    top: 100%;
    border: 1px solid;

    p {
        margin: 0;
        text-align: center;
    }
}