<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Task 5
    body

        .container--high
            header.header
                .header__logo
                    img(src="images/task1/FinnFlare.svg", alt="")
                .header__navbar.navbar
                    .navbar__item
                        a(href='#home') Home
                    .navbar__item.navbar__dropdown.nav-dropdown
                        a(href="javascript:;") Items
                        .nav-dropdown__subitem
                            a(href='#') Link 1
                            a(href='#') Link 2
                            a(href='#') Link 3
            .container
                a(href= "index.html").main-link Main page
                h1 Task 5

        script(src="js/main.min.js")