<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/task_2.css")
        title Task 2
    body
        a(href= "/index.html") Main page
        h1 Task 2

        .list
            .list__item.list-item--odd
                .list-item__el.list-item__el--image
                    img(src="./images/task2/1.png", alt="")
                .list-item__el.list-item__el--text
                    p Это первый блок
            .list__item.list-item--even
                .list-item__el.list-item__el--image
                    img(src="./images/task2/2.png", alt="")
                .list-item__el.list-item__el--text
                    p Это второй блок
            .list__item.list-item--odd
                .list-item__el.list-item__el--image
                    img(src="./images/task2/3.png", alt="")
                .list-item__el.list-item__el--text
                    p Это третий блок
            .list__item.list-item--even
                .list-item__el.list-item__el--image
                    img(src="./images/task2/4.png", alt="")
                .list-item__el.list-item__el--text
                    p Это четвёртый блок