<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/task_4.css")
        title Task 4
    body

        a(href= "/index.html") Main page
        h1 Task 4

        .slider
            .slider__arrow.slider__arrow--prev
            .slider__body
                .slider-item.slider-item--visible
                    .slider-item__content.slider-item__content--image
                        img(src="./images/task4/Communication@2x.jpg", alt="")
                    .slider-item__content.slider-item__content--text
                        p This it text for slide-item 1

                .slider-item
                    .slider-item__content.slider-item__content--image
                        img(src="./images/task4/EndlessAisle@2x.jpg", alt="")
                    .slider-item__content.slider-item__content--text
                        p This it text for slide-item 2

                .slider-item
                    .slider-item__content.slider-item__content--image
                        img(src="./images/task4/SalesAssist@2x.jpg", alt="")
                    .slider-item__content.slider-item__content--text
                        p This it text for slide-item 3

                .slider-item
                    .slider-item__content.slider-item__content--image
                        img(src="./images/task4/StaffEmpowerment@2x.jpg", alt="")
                    .slider-item__content.slider-item__content--text
                        p This it text for slide-item 4
            .slider__arrow.slider__arrow--next

    script(src="./js/main.min.js")