<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/task_10.css")
        title Task 10
    body

        a(href= "index.html") Main page
        h1 Task 10

        .imgColor
            img(src="images/task10/logo-ff.png", alt="")