<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Task 5
    body

        a(href= "index.html") Main page
        h1 Task 5

        .container
            header.header
                .header__logo
                    img(src="images/task1/FinnFlare.svg", alt="")
                .header__nav.nav
                    .nav__item
                        p First item
                    .nav__item
                        p Second item