<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Task 7
    body

        a(href= "index.html") Main page
        h1 Task 7

        header.header-task-7
            a(href="#first-block") Firs block
            a(href="#second-block") Second block
            a(href="#third-block") Third block

        main
            #first-block.text-block
                h2 First text block
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit adipisci dolor repellat 
                | blanditiis maiores voluptas delectus nulla reprehenderit consequatur recusandae distinctio 
                | id aut veritatis, qui voluptatibus labore provident fuga error! Temporibus optio atque eius 
                | officia odio facere nulla minima nesciunt dolore, fugit totam eum dolores, excepturi reiciendis 
                | maxime fuga. Praesentium consequatur ad voluptatem nulla, voluptatibus dolorum aliquid. Quia 
                | dignissimos, commodi tempore debitis magni natus iure aspernatur maxime nam non voluptatum quasi 
                | ut, voluptatem esse incidunt impedit odit quisquam nemo facere expedita pariatur aliquid aperiam! 
                | Eligendi culpa iure architecto, quisquam sunt sed, et quo reiciendis, enim in dolor? Cupiditate, 
                | perspiciatis enim!
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit adipisci dolor repellat 
                | blanditiis maiores voluptas delectus nulla reprehenderit consequatur recusandae distinctio 
                | id aut veritatis, qui voluptatibus labore provident fuga error! Temporibus optio atque eius 
                | officia odio facere nulla minima nesciunt dolore, fugit totam eum dolores, excepturi reiciendis 
                | maxime fuga. Praesentium consequatur ad voluptatem nulla, voluptatibus dolorum aliquid. Quia 
                | dignissimos, commodi tempore debitis magni natus iure aspernatur maxime nam non voluptatum quasi 
                | ut, voluptatem esse incidunt impedit odit quisquam nemo facere expedita pariatur aliquid aperiam! 
                | Eligendi culpa iure architecto, quisquam sunt sed, et quo reiciendis, enim in dolor? Cupiditate, 
                | perspiciatis enim!

            #second-block.text-block
                h2 Second text block
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit adipisci dolor repellat 
                | blanditiis maiores voluptas delectus nulla reprehenderit consequatur recusandae distinctio 
                | id aut veritatis, qui voluptatibus labore provident fuga error! Temporibus optio atque eius 
                | officia odio facere nulla minima nesciunt dolore, fugit totam eum dolores, excepturi reiciendis 
                | maxime fuga. Praesentium consequatur ad voluptatem nulla, voluptatibus dolorum aliquid. Quia 
                | dignissimos, commodi tempore debitis magni natus iure aspernatur maxime nam non voluptatum quasi 
                | ut, voluptatem esse incidunt impedit odit quisquam nemo facere expedita pariatur aliquid aperiam! 
                | Eligendi culpa iure architecto, quisquam sunt sed, et quo reiciendis, enim in dolor? Cupiditate, 
                | perspiciatis enim!
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit adipisci dolor repellat 
                | blanditiis maiores voluptas delectus nulla reprehenderit consequatur recusandae distinctio 
                | id aut veritatis, qui voluptatibus labore provident fuga error! Temporibus optio atque eius 
                | officia odio facere nulla minima nesciunt dolore, fugit totam eum dolores, excepturi reiciendis 
                | maxime fuga. Praesentium consequatur ad voluptatem nulla, voluptatibus dolorum aliquid. Quia 
                | dignissimos, commodi tempore debitis magni natus iure aspernatur maxime nam non voluptatum quasi 
                | ut, voluptatem esse incidunt impedit odit quisquam nemo facere expedita pariatur aliquid aperiam! 
                | Eligendi culpa iure architecto, quisquam sunt sed, et quo reiciendis, enim in dolor? Cupiditate, 
                | perspiciatis enim!

            #third-block.text-block
                h2 Third text block
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit adipisci dolor repellat 
                | blanditiis maiores voluptas delectus nulla reprehenderit consequatur recusandae distinctio 
                | id aut veritatis, qui voluptatibus labore provident fuga error! Temporibus optio atque eius 
                | officia odio facere nulla minima nesciunt dolore, fugit totam eum dolores, excepturi reiciendis 
                | maxime fuga. Praesentium consequatur ad voluptatem nulla, voluptatibus dolorum aliquid. Quia 
                | dignissimos, commodi tempore debitis magni natus iure aspernatur maxime nam non voluptatum quasi 
                | ut, voluptatem esse incidunt impedit odit quisquam nemo facere expedita pariatur aliquid aperiam! 
                | Eligendi culpa iure architecto, quisquam sunt sed, et quo reiciendis, enim in dolor? Cupiditate, 
                | perspiciatis enim!
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit adipisci dolor repellat 
                | blanditiis maiores voluptas delectus nulla reprehenderit consequatur recusandae distinctio 
                | id aut veritatis, qui voluptatibus labore provident fuga error! Temporibus optio atque eius 
                | officia odio facere nulla minima nesciunt dolore, fugit totam eum dolores, excepturi reiciendis 
                | maxime fuga. Praesentium consequatur ad voluptatem nulla, voluptatibus dolorum aliquid. Quia 
                | dignissimos, commodi tempore debitis magni natus iure aspernatur maxime nam non voluptatum quasi 
                | ut, voluptatem esse incidunt impedit odit quisquam nemo facere expedita pariatur aliquid aperiam! 
                | Eligendi culpa iure architecto, quisquam sunt sed, et quo reiciendis, enim in dolor? Cupiditate, 
                | perspiciatis enim!

        script(src="js/main.min.js")